h1 {
text-align: center

}

.date {
border-radius: 10px;

}

.journalEntry {

border: 1px solid black;
width: 32%;
margin: 5px;
text-align: center; 
}

h3 {color: darkblue;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: darkgreen;
  background-color: aquamarine
}

.entry-info { 
  resize: both;
}

input {
resize: both;

}
